#bayraq {
  background-color: red;
  padding: green; width: 20px;
   margin: auto; color: darkblue;
  padding: 20px; color: rgb(21, 88, 211);
  border-radius: 1px;
  width: 45px;
  box-shadow: 1px 33px green;
  color:red;
  }